/* src/app/marvel-table/marvel-table.component.css */
/* .table-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
    height: full;
  } */

table {
    width: 100%;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .thumbnail {
    width: 50px;
    height: auto;
  }

  .desc{
    width: 50%;
    height: auto;
  }

  button {
    margin: 0;
    padding: 0;
  }