/* src/app/marvel-table/marvel-table.component.css */
.table-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.mat-elevation-z8 {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

button {
  margin: 0;
  padding: 0;
}

.info {
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background-color: orange; /* Color de fondo amarillo */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  color: white;
  cursor: pointer;
}

.info:hover {
  background-color: darkorange;
}

.delete {
  justify-content: center;
  align-items: center;
  background-color: red; /* Color de fondo rojo */
  color: white; /* Texto blanco */
  padding: 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  margin: 0 10px;
}

.delete:hover {
  background-color: darkred; /* Color de fondo al pasar el ratón */
}

.edit {
  justify-content: center;
  align-items: center;
  background-color: green; /* Color de fondo verde */
  color: white; /* Texto blanco */
  padding: 10px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  margin: 0 10px;
}

.edit:hover {
  background-color: darkgreen; /* Color de fondo al pasar el ratón */
}

.loading input[matInput] {
  margin-bottom: 100px;
}

.loading {
  margin-top: 100px;
  margin-bottom: 300px;
}

.finder {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 250px;
  letter-spacing: 2px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

table{
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

.divtabla{
  width: 100%;
  max-width: 1200px;
}

mat-paginator {
  justify-content: center;
  color: white;
  background-color: rgb(93, 93, 93);

  border-radius: 30px;
}

.background-blur {
  background-color: black;
  background-image: url("../../img/background.2.jpeg");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* filter: blur(1px); */
  z-index: -1;


}

th {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
}

td {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
