.example-spacer {
  flex: 1 1 auto;
}

.user-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:hover {
  background-color: #f0f0f0;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  background: rgb(60, 6, 114);
  background: linear-gradient(
    180deg,
    rgba(60, 6, 114, 0.8772759103641457) 0%,
    rgba(120, 40, 40, 0.9360994397759104) 50%,
    rgba(10, 2, 33, 1) 100%
  );
}

.title {
  color: #f4e9e9;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.userName {
  color: #f4e9e9;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
